.ve
.idea
.DS_Store
.mypy_cache
.git
.github
__pycache__
*.pyc
*.pyo
logs
docker
.coverage
.env.example
.gitignore
.pre-commit-config.yaml
docker-compose.yaml
Makefile
Dockerfile
pyproject.toml
README.md
requirements-ci.txt
setup.cfg
