✈️✈️✈️✈️✈️✈️✈️✈️
️<strong> NEW PRODUCT FOUND! </strong>
✈️✈️✈️✈️✈️✈️✈️✈️

<strong>{{ product.title }}</strong>

<strong>Category Link:</strong> {{ product.category_link }}

<strong>Seller Info:</strong>
<strong>Name:</strong> {{ product.seller_name }}
<strong>Location:</strong> {{ product.seller_location }}
<strong>Rating:</strong> {{ product.seller_rating }}

<strong>Product Info:</strong>
<strong>ID:</strong> {{ product.id }}
<strong>Listing Type:</strong> {{ product.listing_type }}
<strong>Condition:</strong> {{ product.condition }}
<strong>Price:</strong> {{ product.price }}
<strong>Shipping Price:</strong> {{ product.shipping }}
<strong>Published:</strong> {{ product.published }}
<strong>Link:</strong> {{ product.product_link }}

⚠️⚠️⚠️ ⚠️⚠️⚠️ ⚠️⚠️⚠️